<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FORMULARIO INTERNO
    </title>
    <style>
        div{
            background-color: #AABF06;
        }
        .textos{
            color: white;
            background-color: #055932;
        }
        label{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: midnightblue;
        }
        .cheese{
            accent-color: #e74c3c;
            width: 18px;
            height: 18px;
        }
        .visto{
            accent-color: #3d45e7;
            width: 18px;
            height: 18px;
            
        }
        .visto:checked{
            outline: 2px solid #e74c3c;
        }

    </style>
</head>
<body style="background: #F2EFE4;">
    <header>
        <div>
        <h1 style="color:#055932;text-align: center;font-family: monospace;font-size: 30px;">FORMULARIO INTERNO</h1>
        </div>
    </header>
    <main>
        <h4 style="font-family: monospace; font-size: x-large;">
            BIENVENIDO!! LLENA ESTE FORMULARIO ^-^!
        </h4>
        <label for="">
            Ingresa los siguientes datos >
        </label>
        <br>
        <hr>
        <form action="" method="get">
            <label for="texto" style="color: black;">Ingresa tus nombres:</label>
            <input 
                type="text" 
                class="textos"
                id="nombres" 
                name="nombres"
                placeholder="Ingrese su nombre completo" 
                required
                value="Luciana Francheska"
            >
            <br>
            <br>
            <label for="descripcion" style="color: black;">Ingresa un mensaje bonito:</label>
            <br>
            <textarea name="descripcion" required id="descripcion" rows="5" cols="50" required style="text-align: left; border-color: #055932;">Love yourself Speak yourself Be yourself</textarea>
            <br>
            <br>
            <label for="animales_favoritos" style="color: black;">Seleccione un animalito:</label>
            <br>
            <select name="mis_animales_favoritos[]" id="animales_favoritos" multiple required size="3">
                <option value="" disabled></option>
                <optgroup title="COMUNES" label="COMUNES" style="color:#055932; font-size: xx-small;">
                    <option value="guau">PERRO</option>
                    <option value="miau">GATO</option>
                    <option value="guur">PALOMA</option>
                </optgroup>
                <optgroup title="RAROS" label="RAROS" style="color: #AABF06;">
                    <option value="capaz" selected>MANATI</option>
                    <option value="illit" selected>UALABI</option>
                    <option value="katseye">SALAMANDRA</option>
                </optgroup>                
            </select>
            <br>
            <br>
            <label for="" style="color: black;">Seleccione un helado:</label>
            <label for="polito">Polito</label>
            <input 
                class="visto"
                type="checkbox" 
                name="helados[]" 
                id="polito" 
                value="polito"
                checked
            >
            <label for="alfajor">Alfajor</label>
            <input 
                type="checkbox" 
                name="helados[]" 
                id="alfajor" 
                value="alfajor"
                disabled
            >
            <label for="cornetto">Cornetto</label>
            <input 
                class="visto"
                type="checkbox" 
                name="helados[]" 
                id="cornetto" 
                value="cornetto"
                checked
            >
            <br>
            <br>
            <label for="" style="color: black;">Seleccione su genero:</label>
            <br>
            <label for="hombre" >Masculino</label>
            <input 
                type="radio" 
                class="cheese"
                name="seleccionar" 
                id="masculino"
                value="masculino"
            >
            <br>
            <label for="mujer" >Femenino</label>
            <input 
                type="radio" 
                class="cheese"
                name="seleccionar" 
                id="femenino"
                value="femenino"
                checked
            >
        </form>
    </main>
    <footer>
        <p>c 2025</p>
    </footer>
</body>
</html>